@media (max-width: 479px)
{
	.nav-menu__item
	{
		flex-grow: 1;
	}

	.nav-menu__item + .nav-menu__item 
	{
		margin-left: 7px;
	}

	.nav-menu__item a 
	{
		padding: 0 19px;
	}

	.header-links
	{
		margin-left: auto;
	}

	.header-links__item + .header-links__item
	{
		margin-left: 25px;
	}

	.header-links__count
	{
		top: -8px;
		right: -16px;
		padding-left: 8px;
		padding-right: 8px;
	}


	.first-section__title
	{
		font-size: 28px;
	}

	.first-section__link a
	{
		line-height: 44px;
		font-weight: 400;
	}


	.advantages__title 
	{
		font-size: 30px;
	}


	.main-catalog__grid 
	{
        margin-left: -14px;
    }

	.main-catalog__item 
	{
		width: calc(100% / 2 - 14px);
		margin-top: 14px;
		margin-left: 14px;

		padding: 45px 1px 20px;
	}

	.main-catalog__img img
	{
		aspect-ratio: 164 / 172;
	}

	.main-catalog__bot
	{
		margin-top: 20px;
	}

	.order-project__link a 
	{
		padding: 12px 18px;
	}


	.main-catalog__grid{
		margin-top: 5px;
	}

	.portfolio__items{
		margin-top: 20px;
	}
	/*------------
		commit
	------------*/
}